In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('./data/coins_filtered.csv')
data.shape

(288762, 8)

In [8]:
data.head()

,time,refID_coin,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
0,2018-01-17 11:25:00,1442,10756.000000,180786170372,16807937,17884600000,-1.42,-11.40
1,2018-01-17 11:25:00,1443,960.930000,93242345727,97033038,7990730000,-2.37,-12.48
2,2018-01-17 11:25:00,1444,1.130000,43630734374,38739142811,6058320000,-3.03,-18.17
3,2018-01-17 11:25:00,1445,1744.130000,29504008303,16916175,1544790000,-3.20,-12.15
4,2018-01-17 11:25:00,1446,0.544258,14111015557,25927070538,1511130000,-2.56,-14.91

In [10]:
data['refID_coin'].value_counts()

1474    15198
1450    15198
1443    15198
1444    15198
1445    15198
1446    15198
1447    15198
1448    15198
1449    15198
1451    15198
1465    15198
1452    15198
1453    15198
1454    15198
1455    15198
1456    15198
1457    15198
1460    15198
1442    15198
Name: refID_coin, dtype: int64