In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/datathon.csv')

In [3]:
data.shape

(23086419, 9)

In [4]:
data.head()

,Unnamed: 0,time,refID_coin,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
0,0,2018-01-17 11:25:00,1442,10756.000000,180786170372,16807937,17884600000,-1.42,-11.40
1,1,2018-01-17 11:25:00,1443,960.930000,93242345727,97033038,7990730000,-2.37,-12.48
2,2,2018-01-17 11:25:00,1444,1.130000,43630734374,38739142811,6058320000,-3.03,-18.17
3,3,2018-01-17 11:25:00,1445,1744.130000,29504008303,16916175,1544790000,-3.20,-12.15
4,4,2018-01-17 11:25:00,1446,0.544258,14111015557,25927070538,1511130000,-2.56,-14.91

In [5]:
data.isnull().sum()

Unnamed: 0           0
time                 0
refID_coin           0
price                0
marketCap            0
CirculatingSupply    0
Volume24h            0
Movement1h           0
Movement24h          0
dtype: int64

In [7]:
data['refID_coin'].value_counts()

1442    15198
1503    15198
1514    15198
1513    15198
1511    15198
2599    15198
1509    15198
1508    15198
1507    15198
1506    15198
1505    15198
1501    15198
1488    15198
1499    15198
1498    15198
1497    15198
1496    15198
1495    15198
1494    15198
1493    15198
1491    15198
1490    15198
1515    15198
1517    15198
1520    15198
1521    15198
1641    15198
2884    15198
1609    15198
1569    15198
        ...
3106     1453
3108     1436
3110     1273
2874     1219
2519     1219
2533     1219
2484     1219
3111     1059
3112      556
3113      435
3114      344
3115      249
3097      154
3118      147
3117      147
3116      147
3119      147
3107       84
3122       74
3124       74
3121       74
3120       74
3123       74
3125       58
3127       58
3128       58
3126       58
3071       44
3055       36
3109       13
Name: refID_coin, dtype: int64

In [12]:
comp_coins = pd.read_csv('SELECTED_COINS.csv')
comp_coins

      ID
0   1442
1   1445
2   1456
3   1446
4   1453
5   1447
6   1452
7   1443
8   1457
9   1451
10  1460
11  1448
12  1454
13  1447
14  1449
15  1444
16  1450
17  1474
18  1455
19  1465